@charset "utf-8";
@import url("font.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Pretendard", sans-serif;
    font-size: 1.3rem;
    line-height: 1;
    color: #000;
    letter-spacing: -0.64px;
    word-break: keep-all;
}

/* 공통클래스 */
.inner {
    display: block;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .inner {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .inner {
        padding: 0 20px;
        padding-bottom: 20px;

        max-width: 760px;
        border-bottom: 8px solid #f0f4f4;
    }
}

@media screen and (max-width: 760px) {
    .inner {
        max-width: 100%;
    }
}

/* float 해제 */
.clearfix::after {
    display: block;
    position: relative;
    content: "";
    width: 100%;
    clear: both;
}

/* swiper 버튼 */
.sw-bt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    font-size: 0;
    cursor: pointer;
}

.sw-bt.swiper-button-disabled {
    display: none;
}

.sw-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    z-index: 99;
}

.sw-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.sw-bt::before {
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 4px);
    content: "";
    width: 8px;
    height: 16px;
    background: url("../images/slider_arrow.svg") no-repeat center;
}

.sw-prev::before {
    transform: scaleX(-100%);
}

@media screen and (max-width: 1024px) {
    .sw-bt {
        display: none;
    }
}

/* section 내용 구조 */

.wrap>section {
    padding-top: 30px;
    padding-bottom: 90px;
}

.section-top {
    text-align: center;
}

.section-top>h2 {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-top>p {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.section-top .btns {
    margin: 25px 0;
    font-size: 0;
}

.section-top .btns a {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 20px;
    line-height: 42px;
    font-size: 14px;
    color: #111;
    background: #fff;
    margin-right: 6px;
}

.btns-active {
    background: #111 !important;
    color: #fff !important;
}

.section-slide {
    position: relative;
    margin-bottom: 20px;
}

.section-bottom {
    text-align: center;
}

.bt-link-shop {
    display: inline-block;
    font-size: 16px;
    line-height: 56px;
    padding: 0 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    color: #333;
    font-weight: 700;
}

.bt-link-shop::after {
    display: inline-block;
    position: relative;
    content: "";
    margin-left: 3px;
    width: 7px;
    height: 11px;
    background: url("../images/icon_linkArrow.svg") no-repeat center;
}

@media screen and (max-width: 1024px) {
    .wrap>section {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .section-top>h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }

    .section-top>p {
        font-size: 15px;
        line-height: 18px;
    }

    .bt-link-shop {
        display: block;
        font-size: 15px;
        line-height: 48px;
        border-radius: 3px;
    }

    .section-top .btns {
        margin: 15px 0;
        white-space: nowrap;
        overflow: hidden;
    }

    .section-top .btns a {
        line-height: 34px;
        padding: 0 14px;
        margin-right: 5px;
    }
}

/* 플라잉 배너 */
.fix-banner {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    text-align: center;
}

.fix-banner a {
    display: block;
}

.gotop {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff url("../images/btn_topArrow.svg") no-repeat center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.16);
    font-size: 0;
    margin-top: 10px;
}

/* 퀵메뉴 */
.quick-menu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
}

.quick-menu .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
    .quick-menu {
        display: block;
    }
}

/* 플라잉 마이페이지 */
.fix-mypage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
}

.fix-mypage-main {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fix-mypage-main .inner {
    border-radius: 18px 18px 0 0;
    background: #fff;
    overflow: hidden;
    padding: 30px 0;
    text-align: center;
}

.fix-mypage-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.fix-mypage-list {
    display: inline-block;
}

.fix-mypage-list li {
    float: left;
    margin-right: 40px;
}

.fix-mypage-list li:last-child {
    margin-right: 0;
}

.fix-mypage-list li a {
    font-size: 14px;
    color: #666;
}

.fix-mypage-list li a img {
    display: block;
    width: 48px;
    margin: 0 auto;
    margin-bottom: 8px;
}

@media screen and (max-width: 1280px) {}

/* 기본 레이아웃 */
.wrap {}

/* 상단 */
.header {
    position: relative;
    z-index: 999999;
    /* border-bottom: 1px solid #ebebeb; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.header .inner {
    padding-top: 30px;
    height: 160px;
}

.header-left {
    position: relative;
    width: calc(118px + 455px + 20px);
    height: 50px;

    float: left;
}

.logo {
    display: inline;
    display: inline-block;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 118px;
    height: 50px;
    background: url("../images/logo.svg") no-repeat center;
    background-size: contain;
}

.search {
    position: absolute;
    top: 0;
    right: 0;

    width: 455px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    overflow: hidden;
    padding: 0px 15px;
}

.search-text {
    width: calc(100% - 25px);
    height: 50px;
    border: 0;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 400;
}

.search-text::placeholder {
    color: #a2a2a2;
    font-size: 15px;
    font-weight: 700;
}

.search-bt {
    border: 0;
    width: 17px;
    height: 17px;
    background: url("../images/btn_search.svg") no-repeat center;
    cursor: pointer;
    vertical-align: -3px;
}

.search-reset {
    position: absolute;
    top: calc(50% - 8px);
    right: 50px;
    border: 0;
    font-size: 0;
    cursor: pointer;

    width: 16px;
    height: 16px;
    background: url("../images/btn_searchDelete.svg") no-repeat center;
}

.header-right {
    position: relative;
    float: right;
}

.member-list {
    margin-top: 17px;
    /* padding-top: 17px; */
    /* line-height: 50px; */
}

.member-list>li {
    position: relative;
    float: left;
    margin-right: 20px;
}

.member-list>li:last-child {
    margin-right: 0;
}

.member-list>li>a {
    font-size: 15px;
    color: #111;
    font-weight: 500;
}

.icon-arrow::after {
    display: inline-block;
    position: relative;
    content: "";
    width: 8px;
    height: 5px;
    background: url("../images/arrow_pc.svg") no-repeat center;
    vertical-align: 3px;
    margin-left: 5px;
}

.mypage-bt {
    padding-bottom: 10px;
}

.mypage-bt:hover .mypage {
    opacity: 1;
    visibility: visible;
}

.mypage {
    display: block;
    visibility: hidden;

    position: absolute;
    top: 25px;
    right: 0;
    background: #fff;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);

    opacity: 0;
    transition: all 0s;
}

.mypage-list {}

.mypage-list li {
    margin: 10px 0;
}

.member-list li:first-child {
    margin-top: 0;
}

.member-list li:last-child {
    margin-bottom: 0;
}

.mypage-list li a {
    white-space: nowrap;
    font-size: 14px;
}

.mypage-list li a b {
    font-weight: 500;
}

.mb-mypage {
    display: none;
    position: absolute;
    top: -5px;
    right: 10px;
}

.header-down {}

.service-list {
    display: block;
    float: left;
    margin-top: 30px;
}

.service-list li {
    float: left;
    padding-right: 23px;
}

.service-list li:last-child {
    padding-right: 0;
    margin-right: 15px;
}

.service-list li a {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    line-height: 30px;
}

.service-list li a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.service-menu {
    display: block;
    float: left;
    margin-top: 30px;
}

.service-menu li {
    float: left;
}

.service-menu li a {
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    line-height: 30px;
    padding: 0 12px;
}

.service-menu li a::before {
    display: block;
    position: absolute;
    top: calc(50% - 16px / 2);
    left: 0;
    content: "";
    width: 1px;
    height: 16px;
    background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
    .header {
        border: none;
    }

    .header .inner {
        padding-top: 15px;
        height: 230px;
    }

    .logo {
        width: 77px;
        height: 18px;
        margin-left: 15px;
    }

    .header-left {
        width: 100%;
    }

    .search {
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
    }

    .member-list {
        display: none;
    }

    .mb-mypage {
        display: block;
    }

    .header-down {
        text-align: center;
    }

    .service-list {
        display: inline-block;
        float: none;
        margin-top: 0px;
    }

    .service-list li {
        padding-right: 20px;
    }

    .service-list li:last-child {
        margin-right: 0px;
    }

    .service-list li a {
        font-size: 12px;
        font-weight: 400;
    }

    .service-list li a img {
        display: block;
        width: 48px;
        height: 48px;
        margin: 0 auto;
    }

    .service-menu {
        display: none;
    }
}

/* 추천이벤트 */
.promotion {}

.promotion .inner {
    height: 345px;
}

.promotion .section-top {
    display: none;
    margin-bottom: 20px;
}

.promotion-slide {
    height: 100%;
}

.sw-promotion a {
    display: inline-block;
    border-radius: 13px;
    overflow: hidden;
}

.sw-promotion a img {
    width: 100%;
    height: auto;
}

.sw-promotion-control {
    display: none;
    position: relative;
    text-align: center;
}

.sw-promotion-pg {
    display: inline-block;
}